workflow.json
{
  "name": "Skincare Quiz - Adaptive Looping Flow",
  "nodes": [
    {
      "id": "1",
      "name": "Quiz Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "skincare-quiz",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Sauvegarder Reponse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/quiz/save-answer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"userId\": ($json.body?.userId ?? $json.userId),\n  \"questionId\": ($json.body?.lastQuestionId ?? $json.lastQuestionId),\n  \"answer\": ($json.body?.lastAnswer ?? $json.lastAnswer)\n} }}"
      }
    },
    {
      "id": "3",
      "name": "Recuperer Toutes les Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/quiz/questions",
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Determiner Prochaine Etape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300],
      "parameters": {
        "jsCode": "const questionsData = $node[\"Recuperer Toutes les Questions\"].json;\nconst allQuestions = Array.isArray(questionsData) ? questionsData : (questionsData.questions || []);\n\nconst webhookRaw = $node[\"Quiz Webhook\"].json || {};\nconst body = webhookRaw.body && typeof webhookRaw.body === 'object' ? webhookRaw.body : webhookRaw;\nconst answersSoFar = Array.isArray(body.answersSoFar) ? body.answersSoFar : [];\nconst sessionId = String(body.sessionId || `session-${body.userId || 0}`);\n\nconst hashString = (str) => {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return h >>> 0;\n};\n\nconst mulberry32 = (a) => () => {\n  let t = (a += 0x6D2B79F5);\n  t = Math.imul(t ^ (t >>> 15), t | 1);\n  t ^= t + Math.imul(t ^ (t >>> 7), t | 61);\n  return ((t ^ (t >>> 14)) >>> 0) / 4294967296;\n};\n\nconst shuffle = (arr, rng) => {\n  const out = [...arr];\n  for (let i = out.length - 1; i > 0; i--) {\n    const j = Math.floor(rng() * (i + 1));\n    [out[i], out[j]] = [out[j], out[i]];\n  }\n  return out;\n};\n\nconst rng = mulberry32(hashString(sessionId));\n\nconst byQuiz = allQuestions.reduce((acc, q) => {\n  const quizId = String(q.quizId ?? q.quiz_id ?? 'unknown');\n  if (!acc[quizId]) acc[quizId] = [];\n  acc[quizId].push(q);\n  return acc;\n}, {});\n\nObject.keys(byQuiz).forEach((key) => {\n  const sorted = [...byQuiz[key]].sort((a, b) => Number(a.id) - Number(b.id));\n  byQuiz[key] = shuffle(sorted, rng);\n});\n\nconst quizIds = shuffle(Object.keys(byQuiz).sort((a, b) => Number(a) - Number(b)), rng);\nconst mixedQuestions = [];\nlet keepGoing = true;\nlet offset = 0;\n\nwhile (keepGoing) {\n  keepGoing = false;\n  for (const qid of quizIds) {\n    const list = byQuiz[qid];\n    if (offset < list.length) {\n      mixedQuestions.push(list[offset]);\n      keepGoing = true;\n    }\n  }\n  offset += 1;\n}\n\nconst quizQuestions = mixedQuestions;\nconst maxQuestions = Number(body.maxQuestions || Math.min(12, quizQuestions.length || 10));\n\nif (quizQuestions.length === 0) {\n  return { status: \"complete\", analysis: \"No questions were found in the database.\", score: 0, answersJSON: JSON.stringify(answersSoFar), questionsJSON: JSON.stringify([]), sessionId };\n}\n\nconst answeredIds = answersSoFar.map((a) => Number(a.questionId)).filter((id) => !Number.isNaN(id));\nconst remainingQuestions = quizQuestions.filter((q) => !answeredIds.includes(Number(q.id)));\n\nif (answersSoFar.length === 0) {\n  return {\n    status: \"continue\",\n    mode: \"opening\",\n    nextQuestion: quizQuestions[0],\n    answersJSON: JSON.stringify([]),\n    questionsJSON: JSON.stringify(quizQuestions),\n    remainingQuestionsJSON: JSON.stringify(quizQuestions.slice(1)),\n    sessionId\n  };\n}\n\nif (remainingQuestions.length === 0 || answersSoFar.length >= maxQuestions) {\n  return {\n    status: \"complete\",\n    answersJSON: JSON.stringify(answersSoFar),\n    questionsJSON: JSON.stringify(quizQuestions),\n    sessionId\n  };\n}\n\nreturn {\n  status: \"continue\",\n  mode: \"adaptive\",\n  answersJSON: JSON.stringify(answersSoFar),\n  questionsJSON: JSON.stringify(quizQuestions),\n  remainingQuestionsJSON: JSON.stringify(remainingQuestions),\n  sessionId\n};"
      }
    },
    {
      "id": "5",
      "name": "IF - Quiz Complet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1020, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "complete"
            }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Decision Adaptative Locale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 400],
      "parameters": {
        "jsCode": "const base = $node[\"Determiner Prochaine Etape\"].json;\n\nif (base.mode === 'opening' && base.nextQuestion) {\n  return { status: 'continue', nextQuestion: base.nextQuestion };\n}\n\nconst answers = JSON.parse(base.answersJSON || '[]');\nconst remainingQuestions = JSON.parse(base.remainingQuestionsJSON || '[]');\n\nif (!remainingQuestions.length) {\n  return { status: 'complete', score: 82 };\n}\n\nconst allAnswerText = answers.map((a) => String(a.answer || '')).join(' ').toLowerCase();\nconst lastAnswer = String(answers[answers.length - 1]?.answer || '').toLowerCase();\n\nconst tokenize = (txt) => String(txt || '').toLowerCase().replace(/[^a-z0-9_\\s]/g, ' ').split(/\\s+/).filter((t) => t.length > 2);\nconst answerTokens = new Set(tokenize(`${lastAnswer} ${allAnswerText}`));\n\nconst questionScore = (q) => {\n  const optionText = Array.isArray(q.options) ? q.options.map((o) => o?.text || o).join(' ') : '';\n  const qTokens = tokenize(`${q.text || ''} ${optionText}`);\n  let overlap = 0;\n  for (const t of qTokens) {\n    if (answerTokens.has(t)) overlap += 1;\n  }\n  const typeBonus = String(q.type || '').toLowerCase().includes('multiple') ? 0.5 : 0;\n  const diversityBonus = (q.quizId || q.quiz_id) ? 0.2 : 0;\n  return overlap + typeBonus + diversityBonus;\n};\n\nconst ranked = [...remainingQuestions].sort((a, b) => questionScore(b) - questionScore(a) || Number(a.id) - Number(b.id));\n\nconst categories = [\n  /(oily|dry|combination|normal|sensitive|skin type|tight|shiny|flaky)/i,\n  /(acne|pores|redness|pigmentation|aging|dehydration|dullness|blackheads)/i,\n  /(sunscreen|sun exposure|uv|spf)/i,\n  /(sleep|stress|diet|water|climate|pollution|smoke)/i,\n  /(cleanser|exfoliate|routine|moisturizer|product|texture)/i\n];\n\nlet covered = 0;\nfor (const re of categories) {\n  if (re.test(allAnswerText)) covered += 1;\n}\n\nconst informativeAnswers = answers.filter((a) => {\n  const txt = String(a.answer || '').trim().toLowerCase();\n  return txt.length > 2 && !['idk', 'unknown', 'none', 'n/a', 'not sure'].includes(txt);\n}).length;\n\nconst informativeRatio = answers.length ? informativeAnswers / answers.length : 0;\nconst requiredQuestions = 10;\nconst shouldStop = answers.length >= requiredQuestions;\n\nif (shouldStop) {\n  return {\n    status: 'complete',\n    score: Math.min(95, 68 + covered * 5 + Math.round(informativeRatio * 10))\n  };\n}\n\nreturn { status: 'continue', nextQuestion: ranked[0] || remainingQuestions[0] };"
        
      }
    },
    {
      "id": "12",
      "name": "IF - Stop Adaptatif",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1360, 400],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "complete"
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Parser Prochaine Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 400],
      "parameters": {
        "jsCode": "const src = $node[\"Decision Adaptative Locale\"].json || {};\nif (src.nextQuestion) {\n  return { status: 'continue', nextQuestion: src.nextQuestion };\n}\nreturn { status: 'complete', analysis: 'Questionnaire complete: no next question.', score: Number(src.score || 80) };"
      }
    },
    {
      "id": "11",
      "name": "Reponse Continue",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1660, 400],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.status || \"continue\" }}"
            },
            {
              "name": "analysis",
              "value": "={{ $json.analysis || \"\" }}"
            }
          ],
          "number": [
            {
              "name": "score",
              "value": "={{ Number($json.score || 0) }}"
            }
          ],
          "object": [
            {
              "name": "nextQuestion",
              "value": "={{ $json.nextQuestion || null }}"
            }
          ]
        },
        "keepOnlySet": true
      }
    },
    {
      "id": "6",
      "name": "Gemini Analyse Finale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 200],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'google/gemini-2.0-flash-001',\n  temperature: 0.2,\n  response_format: { type: 'json_object' },\n  messages: [\n    {\n      role: 'system',\n      content: 'You are an expert dermatologist. Return only valid JSON with exactly these keys: status, analysis, score. Constraints: status must be complete; score must be an integer from 0 to 100; analysis must be detailed and actionable in professional English. No markdown and no extra keys.'\n    },\n    {\n      role: 'user',\n      content: 'Analyze these questionnaire answers. Answers JSON: ' + ($node[\"Determiner Prochaine Etape\"].json.answersJSON || '[]') + '. Questions JSON: ' + ($node[\"Determiner Prochaine Etape\"].json.questionsJSON || '[]')\n    }\n  ]\n}) }}"
      }
    },
    {
      "id": "7",
      "name": "Parser Analyse Finale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 200],
      "parameters": {
        "jsCode": "const src = $node[\"Gemini Analyse Finale\"].json || {};\n\nlet parsed = null;\ntry {\n  const raw = src?.choices?.[0]?.message?.content || '{}';\n  const txt = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  parsed = JSON.parse(txt);\n} catch (e) {\n  parsed = null;\n}\n\nreturn {\n  status: 'complete',\n  analysis: String(parsed?.analysis || src?.error?.message || 'Analysis complete.'),\n  score: Number(parsed?.score || 80)\n};"
      }
    },
    {
      "id": "9",
      "name": "Merge Reponses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1860, 300],
      "parameters": {
        "mode": "append"
      }
    }
  ],
  "connections": {
    "Quiz Webhook": {
      "main": [
        [
          {
            "node": "Sauvegarder Reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauvegarder Reponse": {
      "main": [
        [
          {
            "node": "Recuperer Toutes les Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperer Toutes les Questions": {
      "main": [
        [
          {
            "node": "Determiner Prochaine Etape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determiner Prochaine Etape": {
      "main": [
        [
          {
            "node": "IF - Quiz Complet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Quiz Complet": {
      "main": [
        [
          {
            "node": "Gemini Analyse Finale",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decision Adaptative Locale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Adaptative Locale": {
      "main": [
        [
          {
            "node": "IF - Stop Adaptatif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Stop Adaptatif": {
      "main": [
        [
          {
            "node": "Gemini Analyse Finale",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parser Prochaine Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Prochaine Question": {
      "main": [
        [
          {
            "node": "Reponse Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reponse Continue": {
      "main": [
        [
          {
            "node": "Merge Reponses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analyse Finale": {
      "main": [
        [
          {
            "node": "Parser Analyse Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Analyse Finale": {
      "main": [
        [
          {
            "node": "Merge Reponses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adaptive-loop-v3",
  "id": "skincare-quiz-workflow",
  "meta": {
    "instanceId": "1"
  },
  "tags": []
}